/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--main-font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: clamp(5.5rem, 8.6rem, 11.5rem);
  padding-bottom: 25px;
  background-color: var(--background-color);
  border: 2px solid currentColor;
  font-family: var(--accent-font);
  width: min(100%, var(--max-width));
}

@media (width <=575px) {
  .header {
    padding-top: clamp(3.5rem, 7.5rem, 11.5rem);
  }
}

.header__logo {
  font-size: clamp(3.1rem, 4rem, 7.1rem);
  text-transform: uppercase;
}

@media (width <=575px) {
  .header__logo {
    font-size: clamp(2rem, 3.1rem, 7.1rem);
  }
}

.header__title {
  font-size: clamp(0.9rem, 1.43rem, 2.5rem);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 25px;
}

@media (width <=575px) {
  .header__title {
    font-size: clamp(0.7rem, 0.87rem, 2.5rem);
  }
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  padding-left: 18px;
}

.theme-menu__button {
  position: relative;
  display: flex;
  gap: 5px;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity ease 0.3s;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: currentColor;
  transform-origin: left;
  scale: 0 1;
  transition: scale ease 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  scale: 1;
}

.theme-menu__button::before {
  content: "▶";
  position: absolute;
  left: -20px;
  visibility: hidden;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  visibility: visible;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 47.5px;
  margin-top: 100px;
  margin-bottom: 50px;
  width: min(100%, var(--max-width));
}

.block {
  background-color: var(--background-color);
  border: 2px solid currentColor;
}

.block__title {
  padding: 5px 10px;
  font-variation-settings: "wght" var(--title-font-weight);
  font-size: 18px;
}

.block__img-countainer {
  position: relative;
  margin: 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
}

.block__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.block:nth-of-type(2) .block__img {
  filter: saturate(885%);
}

.block:nth-of-type(3) .block__img {
  filter: hue-rotate(285deg);
}

.block:nth-of-type(4) .block__img {
  filter: blur(4px);
}

.block:nth-of-type(5) .block__img {
  filter: sepia(69%);
}

.block:nth-of-type(6) .block__img {
  filter: grayscale(100%);
}

.block:nth-of-type(7) .block__img {
  filter: brightness(20%);
}

.block:nth-of-type(8) .block__img {
  filter: sepia(85%) hue-rotate(257deg) saturate(502%);
}

.watermark {
  position: absolute;
  top: clamp(1.56rem, 1.62rem, 1.59rem);
  right: clamp(0.69rem, 1.5rem, 1.56rem);
  font-family: var(--accent-font);
  font-size: 14px;
  opacity: 0.5;
  paint-order: stroke fill;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
}

@supports (-webkit-text-stroke: 1px var(--background-color)) {
  .watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

@media (width <=575px) {
  .watermark {
    top: clamp(1rem, 1.45rem, 1.7rem);
    right: clamp(0.69rem, 0.7rem, 1.56rem);
  }
}

.card__content {
  padding: 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__text {
  margin-bottom: 27px;
}

.card__text:last-of-type {
  margin-bottom: 25px;
}

.card__buttons {
  display: flex;
  gap: 4px;
  justify-content: flex-end;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
  background-color: transparent;
  display: flex;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
}

.card__like-button {
  min-width: 130px;
  padding: 10px 17px;
}

.button-fill {
  position: relative;
  cursor: pointer;
  border: 2px solid currentColor;
  background: var(--background-color, #fff);
  font-family: var(--accent-font);
  font-size: 14px;
  transition: box-shadow ease 0.3s;
}

.button-fill:focus {
  outline: none;
}

.button-fill:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.button-fill::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  border: inherit;
  scale: 0 1;
  transform-origin: left;
  transition: scale ease-in-out 0.5s;
}

.button-fill:hover::before {
  scale: 1;
}

.button-fill > * {
  color: var(--button-text-color);
  mix-blend-mode: difference;
  position: relative;
}

.footer {
  background: var(--background-color, #fff);
  max-width: calc(100% * 310 / 375);
}

.footer__button {
  gap: 8px;
  padding: 15px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__icon {
  width: clamp(1.3rem, 1.5rem, 1.75rem);
}

.dialog__save {
  color: var(--accent-color);
  border: 2px solid currentColor;
  background-color: var(--background-color, #fff);
  padding: 30px clamp(1.9rem, 21.3rem, 2.5rem);
}

ddialog__save::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog__save[open] {
  max-width: clamp(21.3rem, 21.8rem, 22.3rem);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  width: 100%;
  text-transform: uppercase;
  padding: 9px 17px;
}